@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <h1 class="text-center">How Would You Spend &#36;100 a Day?</h1>
    <p class="text-center">Basic needs are taken care of. This is to spend on you! You have to spend it all.</p>
</div>
<form method="post" class="container">
    @foreach(var topic in IndexModel.topics)
        {
        string aspname = "MoneySpent." + @topic;
        <div class="row justify-content-center align-items-center">
                <div class="col-4  col-sm-3 col-md-2 p-1">
                    <label class="form-label">@topic</label>
                </div>
                <div class="col-3 col-sm-2 col-lg-1 p-1">
                    <div class="d-inline-flex align-items-baseline">
                   <p>&#36;</p> <input type="number" min="0" max="100" step=".01" class="form-control" name="@aspname" id="@aspname"  asp-for="@aspname" value="0">
                   </div>
                </div>
                <div class="col-3 col-sm-2 col-xl-1 p-1 align-content-center ">
                    <p>* 365 = &#36?</p>
                </div>
        </div>
        
        
        }
        <div class="row justify-content-center align-items-center">
            <div class="col-4  col-sm-3 col-md-2 p-1">
                    <label class="form-label">Total</label>
            </div>
            <div class="col-3 col-sm-2 col-lg-1 p-1">
                 <div class="d-inline-flex align-items-baseline">
                   <p>&#36;?</p>
                 </div>
            </div>
            <div class="col-3 col-sm-2 col-xl-1 p-1 align-content-center ">
                 <p>* 365 = &#36?</p>
            </div>
            

        </div>
<br />
    @{
        var eatout = "100";
        <text>@eatout</text>
    }
    <div class="row justify-content-center">
    <div class="col-2 text-center">
        <button class="btn btn-lg btn-primary" >Submit</button>
    </div>
</div>
</form>
<script>
    const numInputs = document.querySelectorAll('input[type=number]')

numInputs.forEach(function(input) {
  input.addEventListener('change', function(e) {
    if (e.target.value == '') {
      e.target.value = 0
    }
  })
})


</script>
